

body {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #011c40;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 17vw;
}

.active{
    color:#4d56d6 !important;
}

a,
a:hover {
  text-decoration: none;
  color: #252850;
}

.donkerblauw {
  color: #0e0e7d;
}
.blauw {
  color: #252850;
}

.blauwgrijs {
  color: #252850;
}

.justify {
  text-align: justify;
}

.accordion-button:not(.collapsed) {
  color: #252850;
  background-color: #fff;
}

.shadow {
  text-shadow: 1px 1px #0e0e7d;
}


.form-range::-webkit-slider-thumb {
  background-color: #252850;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #252850;
  --bs-btn-border-color: #252850;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0e0e7d;
  --bs-btn-hover-border-color: #1e392a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0e0e7d;
  --bs-btn-active-border-color: #0e0e7d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #252850;
  --bs-btn-disabled-border-color: #3cc47c
}

.btn-outline-primary {
  --bs-btn-color: #252850;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #252850;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #252850;
  --bs-btn-hover-border-color: #252850;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #252850;
  --bs-btn-active-border-color: #3cc47c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #252850;
  --bs-btn-disabled-border-color: #3cc47c
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(back.jpg); 
  /* pexels.com */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.25; 
  z-index: -1; 
}

/* From Uiverse.io by mRcOol7 */ 
.card {
  --background: linear-gradient(to right, #4d56d6 0%, #f8feff 100%);
  width: px;
  height: px;
  padding: 8px;
  border-radius: 1rem;
  overflow: visible;
  background: #f8feff;
  background: var(--background);
  position: relative;
  z-index: 1;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: -1;
}

.card::before {
  background: linear-gradient(to bottom right, #94a0ec 0%, #7b7bdd 100%);
  transform: rotate(2deg);
}

.card::after {
  background: linear-gradient(to top right, #f8feff 0%, #4d56d6 100%);
  transform: rotate(-2deg);
}

.card-info {
  --color: #292b2c;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
  position: relative;
  z-index: 2;
}

.card .title {
  font-weight: bold;
  letter-spacing: 0.1em;
}

.card:hover::before,
.card:hover::after {
  opacity: 0;
  transition: 0.7s;
}





